.btn-primary{
    margin-right: 10px;
}
.custom-form{
    width: 50%;
}
.custom-form h1{
    text-align: center;
}
.form{
    background-image:
    linear-gradient(110deg ,
    #fff 0 ,
    #fff 50% ,
    transparent 50%),
    url("./../../Img/BG.jpg" );
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 28rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    padding: 20px;
}
.form-custom{
    margin-bottom: 20px;
    position: relative;
}
.form-custom label ,
.form-custom input {
    display: block;
}
.form-custom input{
    padding: 15px;
    outline: none;
    border-radius: 3px;
    border: 0;
    background: #fff;
    width: 80%;
    border-bottom: 3px solid transparent;
    box-shadow: 0 0 10px rgb(153,152,152) inset;
}
.form-custom input:focus:valid{
    border-bottom: 3px solid green;
}
.form-custom input:focus:not(:valid){
    border-bottom: 3px solid rgb(134, 67, 42);
}
.form-custom input:placeholder-shown + label {
    opacity: 0;
    visibility: hidden;
    top: 20px;
}
.form-custom label{
    position: absolute;
    top: -20px;
    left: 0px;
    font-size: 12px;
    color: gray;
    font-weight: bold;
    transition: 0.3s;
}

@media screen and (max-width:430px) {
    .form-custom input{
        padding: 10px;
        width: 100%;
    }
}

/* Start Styling Error403 */

.text-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

.text-wrapper .title{
    font-size: 4em;
    font-weight: 700;
    color: #ee4b5e;
}

.text-wrapper .subtitle{
    font-size: 30px;
    font-weight: 700;
    color: #1fa9d6;
    display: flex;
    flex-direction: column;
}

.btn-warning{
    width: 200px;
    margin-top: 10px;
}


/* Start Styling Error404 */

.page_404{
    padding: 40px 0;
    background: #fff;
    overflow-x: hidden;

}
.page_404 img{
    width: 100%;
}
.four_zero_four_bg{
    height: 400px;
    background-image: url('https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif');
    background-position: center;
}
.four_zero_four_bg h1{
    font-size: 80px;
}
.four_zero_four_bg h3{
    font-size: 80px;
}
.link_404{
    color: #fff ;
    padding: 10px 20px ;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}
.contact_box_404{
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




